<div class="topMenu">
    <mat-toolbar style="background-color: #1f7500bd; width: 100%;">
        <button mat-icon-button class="hamburger-menu" style="color: #FFFFFF;" (click)="menu()">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="color: #FFFFFF;">AmbieNet</span>
        <span class="example-spacer"></span>
        <button class="menu-button" mat-icon-button style="color: #FFFFFF;" (click)="logOut()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar>
</div>