.container {
    width: 100%;
    background-color: cadetblue;
    height: 100vh;
}

.dataContainer {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.userForm mat-form-field {
    width: 80%;
}