<div id="filterPost" [hidden]="!visible">
  <mat-form-field appearance="fill" style="width: 90%; font-size: 13px;">
    <mat-label>Filtrar los post</mat-label>
    <mat-select #filterSelect (selectionChange)="onChangeFilter($event.value)">
      <mat-option *ngFor="let catastrophe of catastrophes" [value]="catastrophe.value">
        {{catastrophe.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="container">
  <mat-card *ngIf="noDataFileter" class="cardContainer" style="border-radius: 25px; text-align: center;">
    <mat-card-content>
      <p style="font-size: 16px; font-weight: bold;">
        No hay post creados actualmente.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card *ngFor="let object of postData" class="cardContainer" style="border-radius: 25px">
    <mat-card-header>
      <div mat-card-avatar class="profilePicture">
        <img *ngIf="object.user.profile.picture != null" src="http://localhost:2015/{{ object.user.profile.picture }}"
          title="{{ object.user.username }}" style="width: 50px; height: 50px; border-radius: 25px" />
        <img *ngIf="object.user.profile.picture == null" src="http://localhost:2015/default-user-image.png"
          title="{{ object.user.username }}" style="width: 50px; height: 50px; border-radius: 25px" />
      </div>
      <mat-card-title>
        <b style="margin-right: 5px; color: #29a08d; font-size: 16px;">{{ object.user.username }}</b>
        <b style="color: #0d00ff; font-size: 15px;"> {{object.user.role == 1 ? '[Entidad Importante]' :
          object.user.role == 2 ? '[Sensor Social Importante]' : ''}}</b>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-icon>stars</mat-icon><b>{{ object.user.level }}</b>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="text-align: center">
      <h2>{{ object.title }}</h2>
      <section>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Imagen">
            <button class="imageButton" (click)="viewObject(object)" style="
                margin: 0px;
                margin-top: 20px;
                margin-bottom: 10px;
                padding: 0px;
                border: 0px;
                cursor: pointer;
              ">
              <img src="{{ object.photo }}" />
            </button>
          </mat-tab>
          <mat-tab label="Ubicación">
            <div class="mapContainerDashboard">
              <agm-map [latitude]="object.latitude" [longitude]="object.longitude" [zoom]="zoom">
                <agm-marker [latitude]="object.latitude" [longitude]="object.longitude">
                  <agm-info-window>
                    <strong>{{ object.title }}</strong>
                  </agm-info-window>
                </agm-marker>
              </agm-map>
            </div>
          </mat-tab>
        </mat-tab-group>
      </section>
      <h3>{{ object.type_catastrophe }}</h3>
      <p>{{ object.description }}</p>
      <section *ngIf="object.advanced_report" style="width: 90%; margin: auto; margin-top: 20px; margin-bottom: 20px;">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: #d1d1d1;">
              <mat-panel-title style="font-weight: bold; color: #29a08d;">
                Datos más específicos
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section style="text-align: left; width: 100%; height: auto;">
              <p><b>Fenómeno Climático: </b>{{object.advanced_report.climatic_phenomenon}}</p>
              <p><b>Intervalo de Tiempo: </b>{{object.advanced_report.time_interval}} Minutos</p>
              <p><b>Temperatura Máxima: </b>{{object.advanced_report.temp_max}} °C</p>
              <p><b>Temperatura Mínima: </b>{{object.advanced_report.temp_min}} °C</p>
              <p><b>Afectaciones que Conlleva: </b>{{object.advanced_report.conditions_can_be_triggered}}</p>
              <p><b>Riesgos Asociados: </b>{{object.advanced_report.associated_risks}}</p>
              <p><b>Población afectada: </b>{{object.advanced_report.affected_people}}</p>
              <p><b>Especies afectadas: </b>{{object.advanced_report.affected_species}}</p>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </section>
      <section style="width: 100%;">
        <b class="countValidation">{{ object.validator_number }}</b>
        <button mat-raised-button class="dashboardButton" (click)="validatePost(object)"
          [disabled]="rol == 'guest' ? true : false">
          Validar
        </button>
      </section>
      <section style="width: 100%; margin-top: 20px;">
        <button [class]="rol == 'guest' ? 'reportButtonDisabled' : 'reportButton'" (click)="reportPost(object)">
          Reportar este Post
        </button>
      </section>
    </mat-card-content>
  </mat-card>
</div>