<div class="container">
    <mat-card *ngFor="let object of pruebaInformacion">
        <mat-card-header>
            <!-- <mat-card-title>Distritos</mat-card-title> -->
            <mat-card-subtitle><img class="profilePicture" src="../../assets/imagenesPruebaBorrar/{{object.userImage}}"
                    title="{{object.user}}" /><b>{{object.user}}</b>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="text-align: center;">
            <h2>{{object.title}}</h2>
            <div>
                <button class="imageButton" (click)="viewObject(object)"
                    style="margin: 0px; padding: 0px; border: 0px; cursor: pointer;">
                    <img src="../../assets/imagenesPruebaBorrar/{{object.image}}" />
                </button>
            </div>
            <p>{{object.description}}</p>
            <div>
                <b class="countValidation">{{object.validation}}</b>
                <button mat-raised-button color="primary" (click)="viewObject(null)">Validar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>