<div class="general">
    <!-- LOGIN -->
    <div class="login" *ngIf="register == false">
        <div class="title">
            <p>LOGIN</p>
        </div>
        <div class="loginForm">
            <form [formGroup]="loginForm" (ngSubmit)="validateCredentialsLogin(loginForm)">
                <mat-form-field>
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="username" type="text" required />
                    <mat-error *ngIf="loginForm.controls.username.invalid">{{getErrorMessage("username")}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" required />
                    <mat-error *ngIf="loginForm.controls.password.invalid">{{getErrorMessage("password")}}</mat-error>
                </mat-form-field>
                <br />
                <br />
                <button mat-raised-button class="loguinButton">INGRESAR</button>
            </form>
            <br />
            <button mat-raised-button color="primary" style="color: #FFFFFF; width: 200px;"
                (click)="register = true">Registrar</button>
            <br /><br />
            <button mat-raised-button style="background-color: #1f7500bd; color: #FFFFFF; width: 200px;"
                (click)="enterGuest()">Ingresar
                como
                Invitado</button>
        </div>
    </div>

    <!-- REGISTER -->
    <div class="register" *ngIf="register == true">
        <p class="title">Registrarme</p>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Mi ubicación">
                <p style="font-size: 12px;"><b>Importante:</b> Por defecto tienes la ubicación de tu dispositivo, pero
                    si quieres poner una marca en un lugar distinto debes dar doble Clic en la ubicación que desees del
                    mapa.
                    El botón “Ubicación del dispositivo” pondrá la ubicación de tu dispositivo nuevamente. </p>
                <div class="mapContainerPost">
                    <agm-map [latitude]="myLatitude" [longitude]="myLongitude" [zoom]="zoom"
                        (mapReady)="mapReadyHandler($event)">
                        <agm-marker [latitude]="myLatitude" [longitude]="myLongitude">
                            <agm-info-window>
                                <strong>Ubicación</strong>
                                <p><b>Latitud: </b>{{myLatitude}}</p>
                                <p><b>Longitud: </b>{{myLongitude}}</p>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </mat-tab>
        </mat-tab-group>
        <button mat-raised-button class="loguinButton" style="margin-top: 20px;" (click)="selectDeviceLocation()">
            Ubicación del dispositivo
        </button>
        <div class="registerForm">
            <form [formGroup]="registerForm" (ngSubmit)="validateCredentialsRegister(registerForm)">
                <mat-form-field>
                    <mat-label>Nombre(s)</mat-label>
                    <input matInput formControlName="first_name" type="text" required />
                    <mat-error *ngIf="registerForm.controls.first_name.invalid">{{getErrorMessage("first_name")}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido(s)</mat-label>
                    <input matInput formControlName="last_name" type="text" required />
                    <mat-error *ngIf="registerForm.controls.last_name.invalid">{{getErrorMessage("last_name")}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="phone_number" type="number" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="username" type="text" required />
                    <mat-error *ngIf="registerForm.controls.username.invalid">{{getErrorMessage("username")}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput formControlName="email" type="email" required />
                    <mat-error *ngIf="registerForm.controls.email.invalid">{{getErrorMessage("email")}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" required />
                    <mat-error *ngIf="registerForm.controls.password.invalid">{{getErrorMessage("password")}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Repetir la Contraseña</mat-label>
                    <input matInput type="password" formControlName="repeat_password" required />
                </mat-form-field>
                <br />
                <button mat-raised-button class="loguinButton">Registrar</button>
            </form>
            <br />
            <button mat-raised-button color="primary" class="loguinButton" style="margin-bottom: 20px;"
                (click)="register=false">Volver</button>
        </div>
    </div>
</div>