
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin smallPhone {
  @media (max-width: 330px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin medianMeasure {
  @media (max-width: 580px) {
      @content;
  }
}

// login container
.general {
    background-color: #1f7500bd;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login {
    background-color: #FFFFFF;
    height: 410px;
    width: 320px;
    border-radius: 10px;
    -webkit-box-shadow: -10px 15px 35px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 15px 35px 5px rgba(0,0,0,0.75);
    box-shadow: -10px 15px 35px 5px rgba(0,0,0,0.75);
    @include mobile {
        width: 330px;
        width: 300px;
    }
    @include smallPhone() {
        width: 280px;
        width: 250px;
    }
}

.register {
  background-color: #FFFFFF;
  text-align: center;
  overflow: auto;
  overflow-x: hidden;
  height: 620px;
  width: 400px;
  border-radius: 10px;
  -webkit-box-shadow: -10px 15px 35px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 15px 35px 5px rgba(0,0,0,0.75);
  box-shadow: -10px 15px 35px 5px rgba(0,0,0,0.75);
  @include mobile {
      width: 330px;
      width: 300px;
  }
  @include smallPhone() {
      width: 280px;
      width: 250px;
  }
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginForm {
    text-align: center;
}

.loginForm mat-form-field {
    width: 80%;
}

.registerForm {
  text-align: center;
  margin-top: 20px;
}

.registerForm mat-form-field {
  width: 80%;
}

.mapContainerPost {
  width: 600px; 
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  @include smallPhone() {
      width: 200px;
  }
  @include medianMeasure() {
      width: 450px;
  }
}

agm-map {
  height: 300px;
}

mat-tab-group {
  margin: auto;
  width: 85%;
}
