<mat-nav-list>
    <mat-list-item class="icon" routerLink="/dashboard">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Página web</p>
    </mat-list-item>
    <mat-list-item class="icon" routerLink="/viewpost">
        <mat-icon mat-list-icon>satellite</mat-icon>
        <p mat-line>Posts</p>
    </mat-list-item>
    <mat-list-item class="icon" routerLink="/viewuser">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <p mat-line>Usuarios</p>
    </mat-list-item>
    <mat-list-item class="icon" routerLink="/statistics">
        <mat-icon mat-list-icon>assessment</mat-icon>
        <p mat-line>Estadísticas</p>
    </mat-list-item>
</mat-nav-list>