@mixin smallmobile {
  @media (max-width: 335px) {
    @content;
  }
}

@mixin medianMeasure {
  @media (max-width: 580px) {
    @content;
  }
}

.container {
  margin: auto;
  width: 95%;
}

.dataContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.mat-header-cell {
  text-align: center;
  font-size: 14px;
  color: #29a08d;
  padding-left: 5px;
  padding-right: 5px;
}

.requestButton {
  background-color: #29a08d;
  color: #ffffff;
  max-width: 200px;
  width: 100%;
  height: auto;
}
